.portal {
  font-family: acumin-pro;
}

.portal-content {
  min-height: calc(100vh - 25px);
}

a {
  text-decoration: none;
  color: #ffffff;
}

.BRH-top-bar {
  display: flex;
  background-image: url(../../assets/accueil/bg-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.BRH-top-bar img {
  margin: 12px 35px;
}

.BRH-top-bar h2 {
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #171844;
  font-size: 38px;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.portal-header-bar mat-toolbar{
  background-color: #171844;
  font-size: 28px;
  color: #ffffff;
}
.portal-header-bar mat-toolbar mat-button-toggle{
  background-color: #171844;

  color: #ffffff;
}


.portal-header-bar p {
  margin: 0;
  padding-top: 3px;
  padding-left: 35px;
}

.mat-toolbar p {
  font-family: acumin-pro-bold;
  padding-left: 28px;
  margin-top: 0;

}
.portal-body {
  margin-left: 80px;
  min-height: calc(100vh - 5%);

}

.portal-body h1 {
  font-family: acumin-pro-bold;
  margin-bottom: 0;
}

.portal-body fa-icon {
  font-size: 18px;
  padding-right: 10px;
}

.portal-body p {
  font-family: acumin-pro-bold;
  padding-left: 28px;
  margin-top: 0;

}

.portal-body .bank-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

}

.lower-bank-buttons {
  padding-top: 15px;
  padding-bottom: 30px;
}
