.menu-content {
    height: 100vh;
    box-shadow: 10px 0px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#6D8F1D,rgba(3, 155, 229, 0.5)), url(../../../assets/sogebank/vectors.jpg);
  }

  .logo-img {
    width: 80%;
    margin-right:10px ;
    display: block;
    padding: 20px;
  }



@media screen and (max-width: 900px) {
  /* Ici, nous redéfinirons le css pour les plus petits écrans (<900px) */
}
