.espace-utilisateur {
    min-height: 100vh;
    font-family: roboto;
  margin-left: 0px;
}

.sidenav-container {
    display: flex;
}

.mat-drawer {
    position: relative;
}

mat-sidenav {
    border: 0px;
    box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.2);
}

.sidenav {
    height: 100%;
    width: 15%;
    position: relative;
}

.content {
    min-height: 100vh;
    width: 100%;
    margin-left: 0px;
}
