<div id="fakebody">
  <header id="showcase" class="grid">
    <a routerLink="/brh/accueil">
      <div class="imageBrh">
        <img src="assets/logos/brh_gradient_logo.jpeg" alt="brhLogo">
      </div>
      <div class="theheader">
        <div class="BRH-top-bar"></div>
        <h1>Banque de la république d'Haïti</h1>
      </div>
    </a>
  </header>

  <main id="main">
    <section id="section-a" class="grid">
      <ul>
        <li> <a  routerLink="/brh/login-brh" >
          <div class="box">
            <h2 class="content-title">
              Employé de la BRH
            </h2>

          </div>  </a>
        </li>
        <li id="addmargin"><a routerLink="/brh/banque/login">
          <div class="box">
            <h2 class="content-title">
              Employé d'une institution financière
            </h2>

          </div> </a>
        </li>
      </ul>
    </section>
  </main>
  <br>
  <div class="box">
    Cliquer ici pour <a  routerLink="/brh/demande-habilitation" >Demander une habilitation</a>
  </div>
  <div class="push"></div>
</div>
<app-accueil-footer></app-accueil-footer>
